@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root{
    --primary-color:#fbbf24;
    --slate: #475569;
}
body{
    font-family: 'Manrope', sans-serif;
}

hr{
    margin-top: 2rem ;
    margin-left: 0rem;
    margin-bottom: 2rem ;
    margin-right: 0em;
}
/** container **/
.container{
    padding: 0rem,1rem;
}
.container-center{
    max-width: 600px;
    margin:auto;
}

/** links **/
.link{
    text-decoration: none;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;

}
.link-secondary{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    
}

/** List **/

.list-non-bullets{
     list-style: none;
}
.list-item-inline{
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/** Nav bar **/
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link{
    color: white;
}
.navigation .nav-brand{
      font-weight: bold;
      font-size: 1.1rem;
}
.nav-pills{
    text-align: right;
}
.active-link{
    font-weight: bold;
}


/** header **/
.Hero{
    padding: 2res;
}

.Hero .hero-img {
      max-width: 350px;
      display: block;
      margin: auto;
}
.Hero .hero-heading{
    padding-top: 1rem;
    text-align: center;
}














































